<div>
    <h2 id="page-heading">
        <span jhiTranslate="xerusApp.documentStoreVersion.home.title">Document Store Versions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document-store-version" [routerLink]="['/document-store-version/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="xerusApp.documentStoreVersion.home.createLabel">
            Create a new Document Store Version
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="documentStoreVersions?.length === 0">
        <span jhiTranslate="xerusApp.documentStoreVersion.home.notFound">No documentStoreVersions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="documentStoreVersions && documentStoreVersions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.extension">Extension</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.size">Size</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.doc">Doc</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.thumbnail">Thumbnail</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.isFolder">Is Folder</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.versionControlled">Version Controlled</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.version">Version</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.owner">Owner</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.responsible">Responsible</span></th>
                    <th scope="col" ><span jhiTranslate="xerusApp.documentStoreVersion.document">Document</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documentStoreVersion of documentStoreVersions ;trackBy: trackId">
                    <td><a [routerLink]="['/document-store-version', documentStoreVersion.id, 'view']">{{ documentStoreVersion.id }}</a></td>
                    <td>{{ documentStoreVersion.name }}</td>
                    <td>{{ documentStoreVersion.extension }}</td>
                    <td>{{ documentStoreVersion.size }}</td>
                    <td>
                        <a *ngIf="documentStoreVersion.doc" (click)="openFile(documentStoreVersion.docContentType, documentStoreVersion.doc)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="documentStoreVersion.doc">{{ documentStoreVersion.docContentType }}, {{ byteSize(documentStoreVersion.doc) }}</span>
                    </td>
                    <td>
                        <a *ngIf="documentStoreVersion.thumbnail" (click)="openFile(documentStoreVersion.thumbnailContentType, documentStoreVersion.thumbnail)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="documentStoreVersion.thumbnail">{{ documentStoreVersion.thumbnailContentType }}, {{ byteSize(documentStoreVersion.thumbnail) }}</span>
                    </td>
                    <td jhiTranslate="{{ 'xerusApp.DocumentStatus.' + documentStoreVersion.status }}">{{ documentStoreVersion.status }}</td>
                    <td>{{ documentStoreVersion.isFolder }}</td>
                    <td>{{ documentStoreVersion.versionControlled }}</td>
                    <td>{{ documentStoreVersion.version }}</td>
                    <td>{{ documentStoreVersion.owner }}</td>
                    <td>{{ documentStoreVersion.responsible }}</td>
                    <td>
                        <div *ngIf="documentStoreVersion.documentId">
                            <a [routerLink]="['/document-store', documentStoreVersion.documentId , 'view']" >{{ documentStoreVersion.documentId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/document-store-version', documentStoreVersion.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/document-store-version', documentStoreVersion.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(documentStoreVersion)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
